// =============================================================================
// Floating Label Inputs
// =============================================================================
.floating-label {
  input:focus ~ label,
  textarea:focus ~ label,
  input:valid ~ label,
  textarea:valid ~ label {
    font-size: 0.75em;
    color: $accent;
    top: -0.75rem;
    -webkit-transition: all 0.125s ease;
    transition: all 0.125s ease;
  }

  .styled-input {
    float: left;
    width: 33.3333%;
    margin: 1.25rem 0 0.75rem;
    position: relative;
  }

  .styled-input label {
    color: white;
    padding: 1rem;
    position: absolute;
    top: 2px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
  }

  .styled-input.wide { width: 100%; }

  input,
  textarea {
    //padding: 1rem;
    padding: 1.5rem 1rem 1rem;
    // border: 1px solid $accent;
    border: none;
    width: 100%;
    font-size: 1rem;
    background-color: $primary-xlight;
    color: white;
  }

  input ~ span,
  textarea ~ span {
    display: block;
    width: 0;
    height: 3px;
    background-color: $accent;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s ease;
    transition: all 0.125s ease;
  }

  input:focus,
  textarea:focus {
    outline: 0;
  }

  input:focus ~ span,
  textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
  }

  textarea {
    width: 100%;
    min-height: 15em;
  }

  /* Change the white to any color ;) */
  input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $primary-xlight inset;
      -webkit-text-fill-color: white !important;
  }
}
