$primary-dark: #012A45;
$primary: #033A5D;
$primary-light: #054772;
$primary-xlight: #286992;
$accent: #01BCF0;
$accent-hover: #1dceff;
$off-white: rgba(255, 255, 255, 0.5);
$dkGrey: #444444;
$medGrey: #787878;
$red: #e66060;
$red-hover: #d44343;

// OLD

$accentColor: #00BDEE;
$whiteBg: rgba(255,255,255,.8);
