@import '../shared/variables';

form.photo-invoice-form {
  background-color: white;
  padding: 30px;

  label {
    color: $dkGrey;
    font-weight: 600;
  }

  .text-input {
    width: 100%;
    padding: 12px;
    border: 1px solid $accent;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: rgba(177, 219, 231, 0.07);
  }

  button.save-customer {
    display: block;
    margin: 10px auto;
  }
}

.edit-form-wrapper {
  background-color: white;
  padding-bottom: 10px;

  button.delete-customer-btn {
    display: block;
    margin: -20px auto 20px;
    background-color: $red;
  }

  button.delete-customer-btn:hover,
  .delete-confirm-link.delete:hover {
    background-color: $red-hover;
  }

  .delete-confirm-wrapper {
    margin-top: -20px;
    padding: 0 20px;
    text-align: center;
  }

  .delete-confirm-link {
    width: 200px;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
    color: white;
  }

  .delete-confirm-link.delete {
    background-color: $red;
  }

  .delete-confirm-link.cancel {
    background-color: #ccc;
  }

  .delete-confirm-link.cancel:hover {
    background-color: #b7b5b5;
  }
}
