@import '../shared/variables';

.customers-wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;

  .customer-create-success-alert {
    background-color: #62bf62;
    color: #f9f9f9;
    width: 100%;
    padding: 10px !important;
    text-align: center;
    padding: 10px;
  }

  .new-customer-btn {
    position: absolute;
    display: inline-block;
    right: 0;
    text-decoration: none;
    margin: 10px 0;
  }

  table.customers {
    width: 700px;
    max-width: 90%;
    margin: 50px auto;
    list-style: none;

    th {
      color: white;
      text-align: left;
      padding: 10px;
    }

    td {
      padding: 12px;
      background-color: white;
      border-bottom: 1px solid #ccc;

      .customerName {
        font-size: 18px;
      }
      .contactName {
        font-size: 16px;
        font-weight: 300;
        margin-left: 10px;
      }
    }

    .customer-list-btn {
      border: none;
      color: white;
      font-size: 16px;
      text-decoration: none;
      margin: 3px;
      padding: 10px 15px;
      background-color: $accent;
      border: 1px solid $accent;
      transition: background-color 0.2s, border 0.2s;
    }

    .customer-list-btn:hover {
      background-color: $accent-hover;
      border: 1px solid $primary-xlight;
    }

    .edit-btn {
      float: right;
    }
  }

  .customer-list-loading {
    color: white;
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
  }

  .customer-list-empty {
    color: white;
    padding: 50px 0 0 10px;
    font-size: 24px;

    a {
      color: $accent;
      text-decoration: none;
    }
  }
}
