<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Photo Invoice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  </head>
  <body>
    <div id='root'></div>
    <script src="https://use.fontawesome.com/e4a0ca778d.js"></script>
  </body>
</html>