@import '../shared/variables';

.invoice-form-wrapper {
  width: 800px;
  max-width: 96%;
  margin: 30px auto;

  .customer-field {
    width: 78%;
    float: left;
    margin-right: 2%;
    @media (max-width: 600px) {
      width: 100%;
    }

    .Select-control {
      padding: 3px;
      border: 1px solid $accent;
      border-radius: 0;
      font-size: 18px;

      .Select-placeholder, .Select--single > .Select-control .Select-value {
        top: 3px;
      }
    }
  }

  .invoice-number-field {
    float: right;
    width: 20%;
    @media (max-width: 600px) {
      width: 100%;
    }
  }

  ul.lineItems {
    margin: 0;
    padding: 0;
    list-style: none;

    button.add-item-btn {
      display: block;
      width: 300px;
      margin: 5px auto;
      border: none;
      background-color: $accent;
      padding: 8px 0;
      color: #fff;
    }

    li.lineItem {
      display: flex;
    }

    .item-field {
      flex: 1;
      margin-right: 2%;
      @media (max-width: 600px) {
        width: 100%;
      }
    }

    .amount-field {
      width: 180px;
      @media (max-width: 600px) {
        width: 40px;
      }
    }

    button.delete-item-btn {
      margin-left: 5px;
      border: none;
      background-color: #fff;
      font-size: 22px;
    }
  }

  .total-label {
    color: $accentColor;
    float: left;
    width: 78%;
    margin-right: 2%;
    text-align: right;
    font-weight: 600;
    padding-top: 14px;
    @media (max-width: 600px) {
      width: 42%;
    }
  }

  .total-amount {
    color: $accentColor;
    font-size: 2em;
    float: right;
    width: 20%;
    @media (max-width: 600px) {
      width: 56%;
    }
  }

  button.save-invoice {
    display: block;
    margin: 40px auto 20px;
  }
}
