@import '../shared/variables';

.invoice-form-wrapper {
  width: 800px;
  max-width: 96%;
  margin: 30px auto;

  label {
    color: $dkGrey;
    font-weight: 600;
  }

  .text-input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .customer-field {
    width: 78%;
    float: left;
    margin-right: 2%;
    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .invoice-number-field {
    float: right;
    width: 20%;
    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .item-field {
    width: 78%;
    float: left;
    margin-right: 2%;
    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .amount-field {
    width: 20%;
    float: right;
    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .total-label {
    color: $accentColor;
    float: left;
    width: 78%;
    margin-right: 2%;
    text-align: right;
    font-weight: 600;
    padding-top: 14px;
    @media (max-width: 600px) {
      width: 42%;
    }
  }

  .total-amount {
    color: $accentColor;
    font-size: 2em;
    float: right;
    width: 20%;
    @media (max-width: 600px) {
      width: 56%;
    }
  }

  .save-btn {
    display: block;
    margin: 40px auto;
    border: none;
    background-color: $accentColor;
    border-radius: 5px;
    padding: 20px 60px;
    color: white;
  }
}
