@import '../shared/variables';

.signin-background {
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: auto;
  height: auto;
  background-color: $primary;
  // background: url("/img/photographer-background.jpg") no-repeat center center fixed;

  .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: auto;
    height: auto;
    padding-top: 100px;
    @media (max-width: 460px) {
      padding-top: 10px;
    }
  }

  form {
    width: 600px;
    max-width: 96%;
    margin: 0 auto;
    // padding: 20px 50px 50px;

    h1 {
      text-align: center;
      margin-bottom: 30px;
      color: white;
    }

    button {
      display: block;
      margin: 236px auto;
    }
  }
}
